{% extends "base.html" %}

{% block title %}Video Player{% endblock %}
{% block page_content %}
<div class="page-header">
	<h1>Welcome to simple player</h1>
</div>
<div>
	{% if videofile %}
	test
	<p align="center">
		{% if "AppleWebKit" in user_agent %}
			<!-- 调用html5播放器 -->
			<video src="{{ url_for('static', filename='video/' + videofile.encode('utf-8') ) }}" width="1024" controls autoplay>
		</video>
		{% else %}
			<!-- 调用swf播放器，支持mp4、flv格式 已知bug，不支持中文路径名、h265编码的视频只有声音没有图像 -->
			<object width="700" height="400">
			{% if "MSIE" in user_agent %}	
				<param name="movie" value="{{ url_for('static', filename='Flvplayer.swf') }}" />
				<param name="quality" value="high" />
				<param name="allowFullScreen" value="true" />
				<param name="FlashVars" value="vcastr_file={{ url_for('static', filename='video/' + videofile.encode('utf-8') ) }}" />
			{% else %}
				<embed src="{{ url_for('static', filename='Flvplayer.swf') }}" allowfullscreen="true" flashvars=u"vcastr_file={{ url_for('static', filename='video/' + videofile) }}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="700"  height="400"></embed>
			{% endif %}
			</object>
		{% endif %}
	</p>
	{% endif %}
</div>
{% endblock %}
